extends ../layout
block content
  

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.GALLERY}

  .container
    h3.center #{translation.EC}
    .row
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/itEhJm/DSCN2090_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/cb44W6/English_Club_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/kVwUym/DSCN2095_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/fM9hJm/DSCN1426_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/hybjW6/DSCN0628_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/bOQpym/DSCN0300_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/mX3sJm/DSCN0304_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/gfp4W6/DSCN2091_min.jpg')

    h3.center #{translation.CB}
    .row
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/c4NS16/DSCN1654_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/eTyBTm/DSCN1655_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/dHzwuR/DSCN1656_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/dQYpER/DSCN1657_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/bC8BTm/DSCN1660_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/f3vQom/DSCN1661_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/g3B9ER/DSCN1662_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/mRod8m/DSCN1663_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/cfDNZR/DSCN1664_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/czWn16/DSCN1665_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/eQVVM6/DSCN1666_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/gzYZg6/DSCN1668_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/cjPqM6/DSCN1669_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/j4HMTm/DSCN1670_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/iOTH16/DSCN1671_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/g2MgTm/DSCN1672_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/nwp1Tm/DSCN1673_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/iioT8m/DSCN1674_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/cg088m/DSCN1675_min.jpg')
      .col.s12.m6.l4.center
        img.card.responsive-img(data-lazy='https://image.ibb.co/fTrFom/DSCN1676_min.jpg')













  script(defer src='../javascripts/lazyload.js')
